/* ------ Farbe, Seiteneinteilung und typografische Eigenschaften --- */
html	{
		background-color: #E8E8E8;
	}
header, body {	
		margin: 0px;
		border-left-style: solid;
		border-right-style: solid;
		border-color: black;
		background-color: #F5F3F5;
		font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
		font-weight: bold;
		color: white;
		position: relative;
	}
/* -------------- Content-Einstellungen ----------------------------- */
.content {
		width: 80%;
		/* background-color: black;
		opacity: 0.8; */
		padding: 5%;
		min-height: 80%;
	}

.round_corners {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

/* -------------- Variation der Inhalte bei Online / Offline -------- */
.offline_only {
	display: none !important;
}
.online_only {
	/* display: none; */
}

/* --------------- Anzeigeoptionen ---------------------------------- */
.hidden {
	display: none;
}
.visible {
	display: block;
}

/* -------------- Elemente zur Anordnung ---------------------------- */

.space 	{
		height: 100px;
		position: absolute;
	}
.devider {
	background-color: white;
	height: 1px;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* --------------------- Links -------------------------------------- */

a	{
		color: white;
		text-decoration: none;
	}
	
a:hover { 
		color: green 
	}

/* ------------- Bilder und Bildbeschriftungen ---------------------- */
.img_hochkant { 
		width: 15%;
		padding: 2%; 
	}

.img_description {
		font-size: smaller;
		background-color: black;
		opacity: 0.5;
		width: 15%;
		text-align: center;
		height: 2em;
		line-height: 2em;
	}

/* ------------------ Anpassungen Smartphone ------------------------ */

@media (max-width: 660px) {
	/* reduced images */
	img, .img_description { 
		display: none 
	}
	.banner { 
		display: inline 
	}
	.icon { 
		display: inline 
	}
}


