/* Alte Kommentare */
.comment_element {
	color: black;
	background: white;
	padding: 2em;
	margin-bottom: 1em;
	border-radius: 3px;
	position: relative;
}
.comment_name {
	font-weight: bold;
}
.comment_text {
	font-weight: lighter;
}
.comment_delete {
	display: inline-block;
	background-image: url("../data/button_delete.png");
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.comment_delete:hover {
	background-image: url("../data/button_delete_hover.png");
}

/* Neuen Kommentare verfassen */
.new_comment_name {
	border-radius: 3px;
	margin-bottom: 1em;
}
.new_comment_text {
	border-radius: 3px;
	width: 100%;
}

