.footer {
	font-family: Verdana;
	font-size:	small;
	background-color: #666666;
	color: white;
	min-height: 100px;
    padding: 1% 5%;
	margin-top:	5%;
	/*position: absolute;*/
	bottom: 0px;
	left: 0px;
	width: 90%;
	text-align: center;
}
.footer-heading {
	font-size: medium;
}
.footer-login, .footer-adress, .footer-shortlinks {
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-login {
	width: 20%;
	height: 100%;
	display: inline-block;
	text-align: left;
}
.footer-login form {
	margin: 0px;
}
.footer-adress {
	width: 20%;
	height: 100%;
	display: inline-block;
	text-align: left;
}
.footer-shortlinks {
	width: 20%;
	height: 100%;
	display: inline-block;
	text-align: left;
}
