.footer-space-bottom {
	margin-bottom: 1em;
}
.footer {
	font-size:	small;
	background-color: #666666;
	color: white;
	min-height: 100px;
    padding: 1% 5%;
	margin-top:	5%;
	/*position: absolute;*/
	bottom: 0px;
	left: 0px;
	width: 90%;
	text-align: center;
}
.footer a {
	color: #FFFFFF;
}
.footer a:hover {
	color: #CED1D1;
}
.footer-heading {
	font-size: medium;
	font-weight: bold;
	display: block;
}
.footer-info {
	display: inline-block;
	width: 100%;
}
.footer-info input {
    margin-bottom: 4px;
    padding-left: 7px;
}
.footer li {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 15%;
	padding: 0% 2.5%;
	display: inline-block;
	text-align: left;
}

.footer form {
	margin: 0px;
}
.footer-nobreak {
	display: inline;
}

/* ------------------ media specific adaption ------------------------ */

@media (max-width: 1000px) {
	.footer li {
		width: 25%;
	}
}

@media (max-width: 600px) {
	.footer li {
		width: 95%;
	}
	.footer-info {
		display: inline;
		padding-right: 2%;
	}
}
