/* ------------- Buttons und navigation ----------------------------- */

.button-prev {
	display: inline-block;
	background-image: url("../data/buttons/button-previous-wb.png");
	background-repeat: no-repeat;
	height:	20px;
	width: 20px;
	position: absolute;
	left: 0%;
	top: 50%;
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.button-next {
	display: inline-block;
	background-image: url("../data/buttons/button-next-wb.png");
	background-repeat: no-repeat;
	height:	20px;
	width: 20px;
	position: absolute;
	right: 0%;
	top: 50%;
	/* animation */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.button-close {
	display: inline-block;
	background-image: url("../data/buttons/button-close.png");
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	position: absolute;
	right: -15px;
	top: -15px;
}

#galery-preview--full .button-next {
	right: 4%;
	top: 50%;
}
#galery-preview--full .button-prev {
	left: 4%;
	top: 50%;
}

/* ------------- Animation der Buttons ------------------------------ */
#galery-preview--multiple:hover .button-prev {
	left: -2%;
}
#galery-preview--multiple:hover .button-next {
	right: -2%;
}
#galery-preview--medium:hover .button-prev {
	left: -2%;
}
#galery-preview--medium:hover .button-next {
	right: -2%;
}

/* -------- verschiedene Vorschauen (multiple, medium und full) ----- */

#galery-preview--multiple, #galery-preview--full {
	background-color: black;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
#galery-preview--multiple {
	position: relative;
}
#galery-preview--medium {
	width: 80%;
	margin-left: 10%;
	margin-right: auto;
	position: relative;
	background-color: black;
	text-align: center;
	vertical-align: middle;
}
#galery-preview--full {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: black;
	opacity: 0.9;
	filter:alpha(opacity=90); /* IE8 and earlier */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
#galery-preview--all {
	vertical-align: middle;
}
#galery-preview--all img {
	width: 17%;
}


/* ------------- verschiedene Bildergrößen (small, medium, big) ----- */

.galery-img--small {
	width: 20%;
	padding: 1px;
	height: auto;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1%;
	padding-bottom: 1%;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.galery-img--big {
	max-width: 80%;
	max-height: 100%;
	width: auto;
	height: auto;
	padding: 1%;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.galery-img--big:hover, .galery-img--small:hover { /* heller werden bei hover */
	cursor: pointer; /*  */
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.galery-preview-img-full-wrapper {
	display: inline-block;
	max-width: 80%;
	max-height: 80%;
	width: auto;
	height: auto;
	position: relative;
	margin-top: 5%;
	margin-bottom: auto;
}

.galery-img--full {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	opacity: 1.0;
	filter:alpha(opacity=100);
	z-index: 100;
}
