/* --------------------- header (wrapper ) -------------------------- */
.header {
	position: relative;
}

/* ------------------------- Banner --------------------------------- */
.banner	{ 
	width: 100%;
}

/* ------------------- links ---------------------------------------- */
.nav a {
	color: #FFFFFF;
}
.nav a:hover {
	color: #CED1D1;
}

/* ------------------- Navigation ----------------------------------- */
.nav {	
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.nav li {	
	/* background-color: #292929; */
	background: rgba(102,102,102,1);
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
	width: 20%;
	height: 24px;
	display: inline-block;
	padding-top: 5px;
	margin: -2px;
	position: relative; /* for relative positioning of submenue */
}
.nav-reduced {
	display: none;
}
.nav-wide {
	display: inline;
}
/* ----------------Drop down Menu ----------------------------------- */
.nav { 
	list-style-type: none;
	position: relative; 
	display: inline-table;
}
.nav ul { 
	display: none 
}
.nav li:hover > ul { 
	display: block; 
	margin-top: 50px; 
}

.submenue {
	width: 100%;
	position: absolute;
	top: -25;
	left: 0;
	margin: 0px;
	padding: 0px;
	z-index: 1000;
}
.submenue li {
	background: rgba(19,19,19,1);
	background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#131313', GradientType=0 );
	clear: both; 
	text-align: left; 
	padding-left: 15%; 
	height: 25px;  
	font-size: smaller;
	width: 85%;
	overflow-wrap: break-word;
}
.submenue li:hover {
	background: rgba(41,41,41,1);
	background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(32,32,32,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(100%, rgba(32,32,32,1)));
	background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(32,32,32,1) 100%);
	background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(32,32,32,1) 100%);
	background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(32,32,32,1) 100%);
	background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(32,32,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#202020', GradientType=0 );
}

/* ------------------ Breadcrumb ------------------------------------ */
.breadcrumb {
	text-align: left;
	font-size: smaller;
	background-color: #666666;
	padding-left: 8%;
	position: absolute;
	bottom: -15px;
	left: 0px;
	width: 92%;
	z-index: 0;
}
.breadcrumb--step {

}
.breadcrumb--current {
	font-weight: bold;
}

/* ------------------ media specific adaption ------------------------ */

@media (max-width: 500px) {
	/* reduced navigation */
	.nav-reduced {
		display: inline;
	}
	.nav-wide {
		display: none;
	}
}
